{% extends "partials/layout.html" %}

{% set pagetitle = "One Column Template" %}
{% block pagetitle %} {{ pagetitle }} {% endblock %}

{% block content %}
<div class="interior-top">
    <div class="page-extra-container container">
        <div class="row">
            <div class="col-xs-12 page-extra-col">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="#">Home</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="#">Company</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__active">{{ pagetitle }}</span>
                    </li>
                </ul>
                <div class="page-tools">
                    <button id="js-share" class="page-tools-item">
                        <svg aria-hidden="true" focusable="false">
                            <use xlink:href="../images/svg-legend.svg#icon-share"></use>
                        </svg>
                        <span>Share</span>
                    </button>
                    <button id="js-print" class="page-tools-item">
                        <svg aria-hidden="true" focusable="false">
                            <use xlink:href="../images/svg-legend.svg#icon-print"></use>
                        </svg>
                        <span>Print</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="maincontent" class="page-banner" style="background-image: url('https://via.placeholder.com/1920x275');" tabindex="-1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-banner-inner">
                        <h1 class="page-banner-heading header white">{{ pagetitle }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="interior-main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 interior-content-wrapper">
                <div class="interior-content">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis odio repellendus minima, <a href="#">cupiditate repudiandae</a> dignissimos dolorem totam earum rem placeat molestias odit eius nemo soluta architecto autem esse sit facilis.</p>
                    <p><a href="#">Aspernatur</a> dolorum numquam omnis, magni quo deserunt consequatur vero obcaecati itaque, suscipit id molestias cupiditate sint quos ullam mollitia ad commodi facere veniam nihil accusantium officiis sit dolor earum! Inventore!</p>
                    <p>Fugiat cupiditate a dolore sed facere in consectetur ut, asperiores laborum? Perferendis vel, <a href="#">libero</a> dolorem id recusandae placeat quaerat unde ipsa praesentium magnam ab? Ab sint placeat sed labore itaque!</p>
                    <p>Voluptatibus corrupti veritatis vero incidunt maxime. Repellendus aut tempora quaerat! Vero ad aut <a href="#">molestias</a> nam eligendi. Fugiat possimus corrupti repellendus id! Ad necessitatibus recusandae eaque corporis sint, distinctio molestias eos!</p>
                    <div class="full-width" style="background: #225894; color: white;">
                        <h2 class="align-center">Example of full width content (One column templates only)</h2>
                    </div>
                    <p><a href="#">Qui repellendus ad impedit nemo sit</a>, id necessitatibus iusto. Fugiat optio temporibus provident, excepturi, doloremque beatae ratione alias obcaecati, voluptate explicabo quidem. Nihil possimus explicabo beatae quaerat soluta laborum consectetur?</p>
                    <p>Voluptate labore hic quae architecto corporis nulla exercitationem illum eos eligendi corrupti, mollitia doloremque quam facere molestiae ipsam a totam? Reiciendis ab fugit eaque facilis laborum soluta, qui aspernatur velit.</p>
                    <p>Cupiditate illo repellat, labore delectus corrupti enim magni incidunt! Cum consequatur dolore blanditiis fuga fugit nisi in exercitationem praesentium eaque iure tempore expedita minus ipsa officia, culpa quisquam eos <a href="#">quas</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="interior-bottom">

</div>
{% endblock %}
