.site-footer {
  background: $card-bg;
  color: $text-black;
  padding: 5rem 2rem;
  margin: 0;
  text-align: center;
  p {
    margin: 0;
  }
}

.footer-links {
  @include resetList;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-links__link {
  color: $text-black;
}

.footer-copyright {
  text-align: center;
}
.footer-copyright-text {
  margin: 0 0 5px;
}
.footer-copyright-links a {
  display: block;
}

.social-list {
  @include resetList;
  display: flex;
  gap: 1.375rem;
  justify-content: center;
  flex-wrap: wrap;
}
.social-list__item {
  padding: 0;
}
.social-list__link {
  display: block;
  width: 48px;
  height: 48px;
  position: relative;
  color: $text-black;

  &:hover,
  &:focus {
    background: $color-invert;
    color: $color-primary;
  }
}
.social-list__icon {
  @include abs-position();
  fill: currentColor;
  width: 22px;
  height: 22px;
}

@media (min-width: $bp-mw) {
  .site-footer__linked-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.9375rem;
  }
  .footer-links {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-copyright-text {
    margin: 0;
  }

  .footer-copyright-links a {
    position: relative;
    display: inline-block;
    margin: 0 12px 0 0;

    &::after {
      content: "|";
      position: absolute;
      display: inline-block;
      top: 50%;
      right: -10px;
      transform: translateY(-56%);
      font-weight: 400;
      font-size: 0.9em;
    }

    &:last-child {
      &::after {
        content: none;
      }
    }
  }
}

.test-cta {
  color: pink;

  &:focus,
  &:hover {
    transform: translateX(1rem);
  }
}

.signup-form {
  @include flex-settings(0.625rem, column, center, null);
  margin-bottom: 4.75rem;
  text-align: center;
  @include breakpoint(48em) {
    flex-direction: row;
    justify-content: space-between;
    text-align: initial;
  }
}
.signup-form__input-box {
  width: 100%;
  max-width: 49.4375rem;
  position: relative;
  @include flex-settings(0.625rem, column, center, null);
  & > * {
    width: 100%;
  }
  @include breakpoint(48em) {
    flex-direction: row;
    gap: 6.125rem;
  }
}
.signup-form__submit-btn {
  @include breakpoint(48em) {
    position: absolute;
    width: 100%;
    max-width: 12.5rem;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
