<footer id="site-footer" class="site-footer" role="contentinfo">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-copyright">
                        <div class="footer-copyright-text">Copyright &copy; 2019 Americaneagle.com</div>
                        <div class="footer-copyright-links">
                            <a href="#">Legal</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Support</a>
                            <a href="#">ddd</a>
                            <a class="test-cta" href="#">here!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
